<div class="titan-fader h-100">
    <div class="text-center">@DisplayLegend()</div>
    <div class="h-100 w-100 pb-5 d-flex justify-content-center">
        <input type="range" orient="vertical" min="0" max="100" step="1" @bind="Level" />
    </div>
</div>


