<div class="btn @(IsActive() ? "btn-primary active" : "btn-outline-primary") h-100">
    <div class="text-center">@DisplayLegend()</div>
    <div class="w-100 h-100 pb-5 d-flex justify-content-center">
        <input class="form-range" type="range" orient="vertical" min="0" max="100" step="1" @bind="Level" />
    </div>
</div>


